@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyan: #1CC8E5;
  --dark1: #141414;
}

body {
  /* background-color: #0A0A16; */
  background-color: #000000;
  color: white;
}

.animate-neon {
  animation: neon 3s ease-in-out infinite;
}

@keyframes neon {
  0%, 100% {
      filter: brightness(1);
  }
  50% {
      filter: brightness(2);
  }
}

